.logged-out-container {
  footer {
    padding-top: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .about-project-container {
    padding-bottom: 5px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    p {
       margin: 0;
    }
    a {
      color: $green;
    }
  }
  @include respond-to(not-desktop) {
  .help-btn {
    display: none;
  }
  }
}
.logged-in-container {
  @include respond-to(not-desktop) {
    footer {
      display: none;
    }
  }
  @include respond-to(desktop) {
    footer {
      position: fixed;
      bottom: 0;
      right: 0;
    }
  }
  .about-project-container {
    display: none;
  }
}





.help-btn {
  @include button(white,$green);
  right: 5px;
  bottom: 5px;
  position: absolute;
}
