$basePadding: 20px;
.header-inner-container {
    @extend .row;
    // background-color: #d25656;
    background-color: $green;
      // #d25656
      // #d25656
    color: white;
    z-index: 3;
    position: fixed;
    margin: 0;
    padding: 0;
}
@include respond-to(desktop) {
    .header-inner-container {
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        z-index: 3;
        margin: 0;
        padding: 0;
    }
}

//////////////////////////////////////////
///////// HEADER-LOGO BLOCK (UTLOGGAD)
//////////////////////////////////////////

.header-logo-container {
  margin-left: 15px;
  float: left;



  h1 {
    font-family: RobotoBold;
    font-size: 24px;
    @include breakpoint(400px) {
      font-size: 30px;
    }
    i {
      margin-right: 10px;
    }
  }
}

@include respond-to(not-desktop) {
  .header-logo-container {
    margin-bottom: 80px;
  }
}
.header-logo-inner-container {
  margin-left: 30px;
  height: 75px;
  width: 60px;
  background: url("../images/logo.svg") no-repeat center center;
  background-size: 100%;
    .app-header {
        margin-top: 0;
        font-size: 24px;
    }
}



 .cookie-container {
   padding: 20px 20px 10px 20px;
   max-width: 210px;
   font-size: 14px;
   h3 {
     margin: 0 0 5px 0;
     background-color: white;
     color: $red;
     padding: 5px;
   }
 }

//////////////////////////////////////////
///////// TYPOGRAFI
//////////////////////////////////////////
.header-header {
    margin-top: 0;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 14px;
    @include breakpoint(400px) {
      font-size: 16px;
    }


}
.header-paragraph {
    text-transform: capitalize;
    margin: 0;
}
//////////////////////////////////////////
///////// USER BLOCK
//////////////////////////////////////////
.header-user-icon-container,
.header-user-inner-container,
.header-logo-inner-container,
.cookie-container
 {
    float: left;
}
.header-user-icon-container {
    font-size: 20px;
}
.header-user-inner-container {
    padding-left: 15px;
}
//////////////////////////////////////////
///////// DATE BLOCK
//////////////////////////////////////////
.header-date-icon-container,
.header-date-inner-container {
    float: left;
}
.header-date-icon-container {
    font-size: 20px;
}
.header-date-inner-container {
    padding-left: 15px;
}
//////////////////////////////////////////
/////////
//////////////////////////////////////////
@include breakpoint(1px,1024px) {
  .header-user-container {
      margin-top: 30px;
  }
  .header-date-container,
  .header-user-container {
      padding: 15px;
      &:after {
          content: "";
          display: block;
          clear: both;
      }
  }
}
@include breakpoint(1025px) {
  .header-inner-container {
    font-size: 14px;
  }
  .header-date-container,
  .header-user-container {
      float: left;
      padding: 15px 10px;
  }
  .header-btns-container {
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
  }
}
@include breakpoint(1150px) {
  .header-inner-container {
    font-size: 16px;
  }

  .header-date-container,
  .header-user-container {
      padding: 15px 30px;
  }
}

//////////////////////////////////////////
 ///////// HEADER - BUTTONS
 //////////////////////////////////////////
.edit-group-btn,
.logout-btn,
.show-mybookings-btn,
.log-in-btn,
.create-group-btn,
.create-user-btn,
.header-help-btn
 {
   border: none;
   box-sizing: border-box;
    float: left;
    margin: 0;
    height: 100%;
    @extend .flex-center;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: transparent;
    color: white;
    font-size: 14px;
    outline: none;
    &:hover {
        color: $darkblue;
        background-color: white;
    }
    &:active {
        background-color: $lightgrey;
    }
    i {
        margin-right: 10px;
        font-size: 16px;
    }
    @include respond-to(not-desktop) {
        float: none;
        display: block !important;
        border-bottom: 1px solid white;
        width: $slideX;
        text-align: left;
        padding: 20px 10px 20px 20px;
        i {
            margin-right: 14px;
        }
    }
    @include respond-to(desktop) {
        padding: 0 25px;
    }
}
@include respond-to(not-desktop) {
.log-in-btn {
  margin-top: 50px;
  border-top: 1px solid white;
}
.edit-group-btn {
  margin-top: 20px;
  border-top: 1px solid white;
}

}
@include respond-to(desktop) {
  .header-help-btn {
    display: none !important;
  }
    .edit-group-btn, .log-in-btn {
        border-left: 1px solid white;
    }
    .show-mybookings-btn, .create-group-btn {
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
}
//////////////////////////////////////////
///////// HEADER-KALENDERVY CONTAINER
//////////////////////////////////////////
.header-calendar-container {
    position: fixed;
    text-align: center;
    z-index: 99;
    span {
        margin: 0 2px;
    }
    @include respond-to(not-desktop) {
        background-color: $lightgrey;
        left: 0;
        right: 0;
        transition: $slideTrans;
        bottom: 0;
        h3 {
            font-size: 14px;
        }
        &.open {
            transform: translate3d($slideX,0px,0px);
            opacity: 0;
        }
    }
    @include respond-to(desktop) {
        top: 0;
        background-color: $lightgrey;
        top: 78px;
        width: 91%;
        max-width: 1175px;
    }
}
//////////////////////////////////////////
///////// TOGGLE-WEEK KNAPPAR
//////////////////////////////////////////
.next-week-btn,
.previous-week-btn {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    transition: all 0.2s ease;
    border: none;
    outline: none;
    text-align: center;
    height: auto;
    color: inherit;
    background: transparent;
    padding: 0;
}
@include respond-to(not-desktop) {
    .next-week-btn,
    .previous-week-btn {
        top: 8px;
        font-size: 22px;
    }
    .previous-week-btn {
        left: 10px;
    }
    .next-week-btn {
        right: 10px;
    }
}
@include respond-to(desktop) {

  .previous-week-btn, .next-week-btn {
    font-size: 30px;
    top: 15px;
    &:hover {
        color: $green;
    }
  }
    .previous-week-btn {
        left: 5px;
        &:hover {
          left: 2px;
        }
    }
    .next-week-btn {
        right: 5px;
        &:hover {
          right: 2px;
        }
    }
}
//////////////////////////////////////////
///////// RESPONSIVE NOT-DESKTOP SLIDE
//////////////////////////////////////////
@include respond-to(not-desktop) {
    .calendar-container,
    .logged-out-forms-container {
        // transition: transform 0.5s cubic-bezier(1,-0.02,0.695,0.79);
        transition: $slideTrans;
        position: relative;
        &.open {
            transform: translate3d($slideX,0px,0px);
        }
    }
    .header-inner-container {
        transform: translate3d(-300px ,0px,0px);
        height: 100%;
        width: $slideX;
        left: 0;
        top: 0;
        bottom: 0;
        transition: $slideTrans;
        &.open {
            transform: translate3d(0,0px,0px);
        }
    }
    //////////////////////////////////////////
    ///////// HAMBURGER
    //////////////////////////////////////////
    $gray: darken(gray,25%);
    $lineThick: 3px;
    .hamburger-container {
        z-index: 999;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;
        position: fixed;
        background-color: $green;
        cursor: pointer;
        perspective: 40px;
    }
    .hamburger-inner-container {
        transform: translate3d(0,0,0);
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-out;
        transform: translate3d(0,0,0);
    }
    .hamburger {
        position: absolute;
        height: $lineThick;
        top: 19px;
        width: 80%;
        right: 10%;
        background-color: white;
        transition: all 0.3s ease-in;
        &:before {
            background-color: white;
            position: absolute;
            content: "";
            height: $lineThick;
            width: 100%;
            right: 0;
            top: -11px;
            transition: transform 0.6s cubic-bezier(0.6,0,.4,1);
        }
        &:after {
            background-color: white;
            position: absolute;
            content: "";
            height: $lineThick;
            width: 100%;
            right: 0;
            top: 11px;
            transition: transform 0.6s cubic-bezier(0.6,0,.4,1);
        }
    }
    .open {
        .hamburger-inner-container {
            transform: rotateY(0) rotateX(180deg);
        }
        .hamburger {
            background-color: $green;
        }
        .hamburger:before {
            opacity: 1;
            transform: translateY(10px) translateX(0px) rotate(-45deg);
        }
        .hamburger:after {
            opacity: 1;
            transform: translateY(-12px) translateX(0px) rotate(45deg);
        }
    }
}
