.modal-container {
  ul {
    // padding-left: 20px;
  }
}
.admin-modal-container {
  z-index: 3;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  min-width: 300px;
  margin: 60px auto 0 auto;
  overflow: auto;
  position: relative;
}
//////////////////////////////////////////
 ///////// HEADERS
 //////////////////////////////////////////
.admin-header-bookings,
.admin-header-users,
.admin-header-time-machines,
.admin-header-general,
.admin-header-me {
  text-align: center;
i {
  margin-right: 15px;
}
}

//////////////////////////////////////////
///////// COMMON BUTTONS
//////////////////////////////////////////
.admin-toggle-button {
  width: 250px;
  @include big-button("\f055",white,$green)
}
.admin-toggle-button.open {
  width: 250px;
  @include big-button("\f056",white,$red)
}

.success-reminder {
  color: $green;
  margin-top: 5px;
}
.danger-reminder {
  color: $red;
}

//////////////////////////////////////////
///////// HÖGER OCH VÄNSTER SECTION
//////////////////////////////////////////
.admin-section-container {
  position: relative;
  height: 520px;
  overflow-x: hidden;
  @include respond-to(desktop) {
    height: 600px;
  }
}

$padding: 20px;
.admin-left-section, .admin-right-section {
transition: transform .4s cubic-bezier(1, 0, 0.695, 0.79);
position: absolute;
h1 {
  text-align: center;
}
}

/////////////  VÄNSTER SEKTION /////////////
.admin-left-section {
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
}
.admin-section-row {
  height: 70px;
  border-top: 1px solid darken($lightgrey,5%);
  width: 100%;
  position: relative;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s ease;
  &:hover {
    background-color: $green;
    color: white;
  }
}
$top: 20px;
.admin-section-row-icon {
position: absolute;
left: 20px;
top: $top;
}
.admin-section-row-header {
  position: absolute;
  left: 50px;
  top: $top;

  h4 {
    margin: 0;
    padding: 0;
  }
}
.admin-section-row-btn {
  position: absolute;
  right: 20px;
  top: $top;
  button {
    color: inherit;
    border: none;
    outline: none;
    background: transparent;
    font-size: 18px;
  }

}
/////////////  HÖGER SEKTION /////////////
.admin-right-section {
  top: $padding;
  bottom: $padding;
  left: $padding;
  right: $padding;
width: calc(100% - 35px);
transform: translate3d(110%,0px,0px);
h2 i {
  margin-right: 15px;
}
}
.admin-back-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
  transition: all .2s ease;
  i {
    margin-right: 15px;
  }
  &:hover {
    color: $green;
  }
}
//  SLIDE-LEFT
.admin-section-container.slide-left {
.admin-left-section {
  transform: translate3d(-110%,0px,0px);
}
.admin-right-section {
  transform: translate3d(0px,0px,0px);
}
}
.right-section-section {
  min-width: 300px;
  width: 70%;
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  h2 {
    text-align: center;
  }
}


//////////////////////////////////////////
///////// ALLMÄN INFORMATION
//////////////////////////////////////////
.general-info-section, .about-me-section {
  @extend .right-section-section;

  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      padding-bottom: 15px;
    }
    i {
      margin-right: 15px;
    }
  }

  label {
    display: block;
  }
  input[type="text"],input[type="number"] {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin: 10px 0 15px 0;
  }
  textarea {
    width: 100%;
  }

  button[type="submit"] {
    display: block;
    width: 250px;
    @include button(white,$green)
  }
  .delete-account-btn {
    @include button(white,$red)
    display: block;
    width: 250px;
    margin-top: 20px;
  }
}



//////////////////////////////////////////
///////// BOKNINGAR
//////////////////////////////////////////

.admin-booking-container {
  @extend .right-section-section;

  h3 {
    margin-top: 50px;
    text-align: center;
  }

}


.admin-booking-date-container {
  padding-top: 0;
  border-bottom: 1px solid $grey;
}

.admin-booking {
  padding: 10px 0;
  position: relative;
  height: 50px;
}

.admin-cancel-booking-container {
  left: 0;
  position: absolute;
}


.admin-booking-info {
  display: block;
  // font-size: 14px;
}
.admin-booking-bookedby {
  font-style: italic;
}
.admin-booking-info-container {
  left: 50px;
  top: 13px;
  position: absolute;

}


.admin-cancel-booking {
  @include cancel-button()
}

//////////////////////////////////////////
///////// SLIDE-TOGGLE
//////////////////////////////////////////
.toggle-container.open {
display: block;
}
.toggle-container.closed {
display: none;
}
//////////////////////////////////////////
///////// ANVÄNDARE
//////////////////////////////////////////


.user-card-container,.time-machine-card-container {
  color: $darkgrey;
  background-color: $lightgrey;
}
.adress-text-container,.time-machine-card-inner-container {
    padding: 10px 30px;
  }

.user-card-container {
  position: relative;
  .face-container {
     box-shadow: $boxShadow;
  }
}

.placeholder-icon {
  color: $cardBackground;
}
.adress-text-container button {
  margin: 30px 0 0 0;
}
.user-info-row {
  position: relative;
  margin: 15px 0;


  h3, p {
    margin: 0;
  }
  a {
    color: $green;
  }


  &:after {
    clear: both;
    content: "";
    display: block;
  }
  .icon {
    font-size: 18px;
    float: left;
    color: inherit;
    width: 40px;
  }
  .user-info-row-info {
    float: left;
    width: calc(95% - 40px);
  }
}

//////////////////////////////////////////
///////// GRID FÖR ANVÄNDARE
//////////////////////////////////////////
@include respond-to(mobile) {
.user-card-container {
  @include flex-col-gtr-advanced(100%, $gutter*2, 0px, 0px,0px);
}
}
@include respond-to(tablet) {

.user-card-container {
&:nth-of-type(even) {
  @include flex-col-gtr-advanced(50%, $gutter*2, 0px, 0px,3px);
};
&:nth-of-type(odd) {
  @include flex-col-gtr-advanced(50%, $gutter*2, 3px, 0px,0px);
}

}
}
@include respond-to(desktop) {

  .user-card-container {
    @include flex-col-gtr-advanced(33%, $gutter, 0px, 0px, 0px);
  }
  .user-card-container:nth-child(3n-1) {
    @include flex-col-gtr-advanced(33%, $gutter, $gutter, 0px, $gutter);
 }
}
//////////////////////////////////////////
///////// KNAPPAR
//////////////////////////////////////////
$buttonWidth: 90%;
.admin-set-admin {
  width: $buttonWidth;
  @include button(white,$red)

}
.admin-set-user {
  width: $buttonWidth;
  @include button(white,$green)
}

.admin-ban-user {
  width: $buttonWidth;
  @include button(white,$green)
}
.admin-approve-user {
  width: $buttonWidth;
  @include button(white,$red)
}



//////////////////////////////////////////
///////// TIDER OCH MASKINER
//////////////////////////////////////////

.remove-bookings-info {
  font-size: 16px;
  color: $red;
  font-style: italic;
}


.admin-machine-section,.admin-time-section {
  @extend .right-section-section;

ul {
list-style-type: none;
padding-left: 0 !important;
margin: 0;
li {
  padding: 15px 0;
}
input {
  font-size: 16px;
  border: none;
  width: 80%;
  margin-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $grey;
  border-radius: 0;
  &:focus, &:hover {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid $green;
  }
}
button {
@include round-button(white,$red);
}
}
.add-btn-container {
  margin-top: 10px;
}
.add-btn {
  margin-right: 20px;
  @include round-button(white,$green);
}
.danger-reminder {
  text-align: center;
}
.update-btn {
  @include button(white,$green);
  margin: 30px auto;
  display: block;
}
}
