.success-group-container {
width: 90%;
max-width: 500px;
margin: 0 auto;
ul {
  list-style-type: none;
  padding-left: 0 ;
  li {
    padding: 5px 0;
  }
  i {
    color: $green;
    padding-right: 5px;
  }
}
.create-user-link-btn {
  display: block;
  @include button (white,$green)
  margin: 0 auto;
  width: 280px;
  text-align: center;
}
}
.success-group-id {
  background-color: $green;
  color: white;
  padding: 10px 5px;
}
