$red: #E74C3C;
$green: #26A65B;
$purple: #663399;
$pink: #cd7071;


$darkgrey: rgb(86,86,86);
$lightgrey: rgb(245, 245, 245);
$grey: darken($lightgrey,10%);

$darkblue: #22313F;

$offWhite: #fcfcf4;
$earthBeige:  #e3dfda;
$overlay: rgba(0,0,0,0.6);
$boxShadow: -11px 13px 20px -14px rgba(0,0,0,0.75);

$cardBackground: $offWhite;
$addressContainerBackground: lighten($earthBeige,3%);
$addressTextColor: $darkgrey;

$mobile-small-break: 320px;
$mobile-large-break: 767px;
$tablet-break: 1024px;

$gutter: 7.5px;
//////////////////////////////////////////
///////// SLIDE X
//////////////////////////////////////////
$slideX: 300px;
//////////////////////////////////////////
///////// FONTS
//////////////////////////////////////////

@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: RobotoLight;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}
 // @font-face {
 //   font-family: robotoLight;
 //   src: url(./fonts/RobotoCondensed-Light.ttf);
 // }
 // @font-face {
 //   font-family: robotoRegular;
 //   src: url(../fonts/RobotoCondensed-Regular.ttf);
 // }
 // @font-face {
 //   font-family: robotoBold;
 //   src: url(../fonts/RobotoCondensed-Bold.ttf);
 // }
