/*###########################################
 ############################################
                    FLEX - GRID
 ############################################
 ############################################*/
$ms-gtr: 5px;
$ml-gtr: 5px;
$tab-gtr: 10px;
$desk-gtr: 10px;
$standard-gtr: 10px;


.flex-row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.flex-row-gtr {
  @extend .flex-row;
  margin: $standard-gtr/2;
}
@mixin flex-col-gtr ($width, $gtr) {
  flex-basis: calc(#{$width} - #{$gtr});
  margin: $gtr/2;
}
@mixin flex-col-gtr-advanced ($width, $top,$right,$bottom,$left) {
  flex-basis: calc(#{$width} - #{$right + $left});
  margin-top: $top;
  margin-right: $right;
  margin-bottom: $bottom;
  margin-left: $left;
}
@mixin flex-col ($width) {
  flex-basis: $width;
}
