
.header-container {
  background-color: $green;
  color: white;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  margin: 0;
  padding: 0;
  @extend .row;
  h3 {
    margin: 0;
    padding: 10px 0;
  }
}

.logo {
  padding: 10px;
  h1 {
    font-size: 20px;
  }
}
.user-info-container {
}

.header-btns-container {
float: right;
padding: 20px;

}

/*###########################################
 ############################################
 LOGGED OUT
 ############################################
 ############################################*/
 .log-in-btn {
   @include big-button("\f090",white,$green)

 }
 .create-group-btn {
   @include big-button("\f0c0",white,$green)
   margin: 0 10px;

 }
.create-user-btn {
  @include big-button("\f234",white,$green)
}


/*###########################################
 ############################################
 LOGGED IN
 ############################################
 ############################################*/
 .edit-group-btn {
 @include big-button("\f044",white,$green)
 margin: 0 10px;
 }
.show-mybookings-btn {
@include big-button("\f274",white,$green)
margin: 0 10px;
}
.logout-btn {
@include big-button("\f08b",white,$green)
}
