@font-face {
    font-family: Roboto;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}
body {
font-family: Roboto, sans-serif;
margin: 0;
color: $darkgrey;
// color: red;
background-color: $lightgrey;
}
#app-container {
  width: 97%;
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: hidden;
  @include respond-to(desktop) {
    width: 90%;
    overflow-x: visible;;
  }
}
.capitalize {
  text-transform: capitalize;
}
.flex-center /* CENTRERA VERTIKALT OCH HORISONTELLT */
{
  display:flex;
  justify-content:center;
  align-items:center;
}
a {
  transition: all 0.2s ease;
}
.text-center {
  text-align: center;
}
.success {
  color: $green;
}
.warning {
  color: $red;
}
button {
  cursor: pointer;
}
.help-button {
  position: fixed;
  background-color: $green;
  bottom: 0;
  right: 0; 
  color: white;
}
.help-button-inner {
  display: block;
  padding: 10px 20px;
}
input[type="password"],
input[type="number"],
input[type="text"],
input[type="email"],
textarea {
box-sizing: border-box;
border: 1px solid darken($lightgrey,10%);
transition: all 0.2s ease;
padding-left: 10px;
border-radius: 3px;
outline: none;
outline: 0;
&:focus{
  border: 1px solid $green;
};
}
textarea {
  width: 250px;
  height: 70px;
  margin: 10px 0 15px 0;
  resize: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
