

body {
font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto', sans-serif;
}
#app {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.capitalize {
  text-transform: capitalize;
}
