@keyframes sk-scaleout {
 0% {
   -webkit-transform: scale(0);
   transform: scale(0);
   opacity: 0;

 } 100% {
   -webkit-transform: scale(1.0);
   transform: scale(1.0);
   opacity: 1;
 }
 }

 @keyframes fadeInFromNone {
     0% {
         opacity: 0;
     }
     2% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
.modal-background {
  display: block;
  position: fixed;
  height: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  animation: fadeInFromNone 0.1s ease-out;
  transition: opacity 0.2s ease-in-out;
}
.modal-container {
  // background-color: $lightgrey;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  min-width: 300px;
  margin: 60px auto 0 auto;
  overflow: auto;
  position: relative;
  max-height: calc(80vh - 40px);
}
.modal-inner-container {
  padding: 40px;
  margin: 0 auto;
}
.close-modal-btn {
  position: fixed;
  @extend .flex-center;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 50px;
  width: 180px;
  background-color: $red;
  color: white;
  transition: all 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: darken($red,5%);
  }
}



.mybookings-date-container {
  // padding: 20px;
  margin: 15px 0;
  // background-color: $grey;
}

.single-booking-container {
  position: relative;
  margin: 25px 0;
  > span {
    text-transform: capitalize;
    position: absolute;
    left: 0;
    top: 10px;
  }

  button {
    position: absolute;
    left: 140px;
    @include small-button("\f00d",white,$red)
    &:hover {
      border: 1px solid $red;
    }
  }







}






.hide-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;

}

.show-modal {
  transition: opacity 0.2s ease-out;
  opacity: 1;
  visibility: visible;
}


.mybookings-date-header {
  font-size: 20px;
  text-transform: capitalize;
}
