@keyframes sk-scaleout {
 0% {
   -webkit-transform: scale(0);
   transform: scale(0);
   opacity: 0;

 } 100% {
   -webkit-transform: scale(1.0);
   transform: scale(1.0);
   opacity: 1;
 }
 }

 @keyframes fadeInFromNone {
     0% {
         opacity: 0;
     }
     2% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }
.modal-background {
  display: block;
  position: fixed;
  height: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 1;
  background-color: rgba(0,0,0,0.8);
  z-index: 999;
  animation: fadeInFromNone 0.1s ease-out;
  transition: opacity 0.2s ease-in-out;
}
//////////////////////////////////////////
//// KLICKYTA FÖR ATT STÄNGA MODAL
//////////////////////////////////////////
.modal-clickarea {
  position: fixed;
  height: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: transparent;
}
.modal-container {
  z-index: 3;
  background-color: white;
  width: 90%;
  max-width: 1000px;
  min-width: 300px;
  margin: 60px auto 0 auto;
  overflow: auto;
  position: relative;
  max-height: calc(80vh - 40px);
  .modal-inner-container {
    padding: 20px;
    margin: 0 auto;
    @include respond-to(desktop) {
    padding: 30px;
    }
  }
}

.close-modal-btn {
@include round-button(white,$red);

}



.my-bookings-inner-container {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}


.mybookings-date-container {

  border-bottom: 1px solid $grey;
  .admin-booking-info-container {
    top: 20px;
  }
}






.hide-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
.show-modal {
  transition: opacity 0.2s ease-out;
  opacity: 1;
  visibility: visible;
}
.mybookings-date-header {
  font-size: 20px;
  text-transform: capitalize;
}
