$red: #D64541;
$green: #26A65B;
$purple: #663399;

$darkgrey: rgb(86,86,86);
$grey: rgb(241,241,241);
$lightgrey: rgb(245, 245, 245);



$lightblue: rgb(12,166,210);
$mediumblue: rgb(0,131,170);
$darkblue: rgb(3,90,115);
$darkestblue: rgb(3,77,97);

$mobile-small-break: 320px;
$mobile-large-break: 767px;
$tablet-break: 1024px;

$gutter: 15px;


/*###########################################
 ############################################
                  FONTS
 ############################################
 ############################################*/
 // @font-face {
 //   font-family: robotoLight;
 //   src: url(./fonts/RobotoCondensed-Light.ttf);
 // }
 // @font-face {
 //   font-family: robotoRegular;
 //   src: url(../fonts/RobotoCondensed-Regular.ttf);
 // }
 // @font-face {
 //   font-family: robotoBold;
 //   src: url(../fonts/RobotoCondensed-Bold.ttf);
 // }
