//////////////////////////////////////////
///////// GRID MED GUTTER
//////////////////////////////////////////
@mixin gtr-col($columns, $gutter) {
$percentage: percentage(1/$columns);
$width: (($columns - 1)*$gutter)/$columns;
float: left;
width: calc(#{$percentage} - #{$width});
margin-top: $gutter;
margin-left: $gutter/2;
margin-right: $gutter/2;
&:nth-of-type(#{$columns}n+1) {
  margin-right: $gutter/2;
  margin-left: 0;
};
&:nth-of-type(#{$columns}n+#{$columns}) {
  margin-left: $gutter/2;
  margin-right: 0;
};
}
.row
{
  width: 100%;
}
.row:after
{
  clear: both;
  content: "";
  display: block;
}
