.calendar-container, .logged-out-forms-container {
  margin-top: 10px;
  @include respond-to(desktop) {
      margin-top: 145px;
  }
}





.calendar-container.fixed {
  position: fixed;
  width: 97%;
  max-width: 1170px;
  margin: 0 auto;
  overflow-x: hidden;
  @include respond-to(desktop) {
    width: 90%;
    overflow-x: visible;;
  }
}
.calendar-container.mobile-fixed {
  @include respond-to(not-desktop) {
    position: fixed;
    width: 97%;
    max-width: 1170px;
    margin: 0 auto;
    overflow-x: hidden;
  }
}






.day-container {
  border: 1px solid darken($grey,10%);
  border-radius: 3px;
  margin: 10px 0;
  background-color: white;

  @include respond-to(not-desktop) {
  width: calc(100% - 2px); // SÅ ATT MAN SER BORDER I MINDRE VIEWPORT
  }
}

.date-header {
  font-size: 22px;
  padding-left: 25px;
  margin-bottom: 5px;
}

//////////////////////////////////////////
///////// TIME-COLUMNS IN A DAY
//////////////////////////////////////////

@mixin time-col($width) {
width: calc(#{$width} - 61px)
}
@mixin time-col-mobile($width) {
width: calc(#{$width} - 31px)
}

[class*="time-col-"] {
  float: left;
  padding: 0 30px;
  margin-bottom: 14px;
  &:last-of-type {
    border: none;
  };
}
.toggle-machines {
  display: none;
}
//////////////////////////////////////////
/////////  MOBILE
//////////////////////////////////////////
@include respond-to(mobile) {
  .machine-container-open {
    display: block;
  }
  .machine-container-closed {
    display: none;
  }
  .date-header {
    font-size: 16px;
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;
    }

  [class*="time-col-"] {
    position: relative;
    float: none;
    padding: 0 15px;
    border: none;
    width: 85%;
    margin: 0 auto;
    border-bottom: 1px solid darken($grey,10%);
  }
  .toggle-machines {
    display: block;
    position: absolute;
    top: -8px;
    right: 8px;
    &.show-machines-btn {
      @include round-button(white,$green);
      @include plus(9px, white, $green);

    }
    &.hide-machines-btn {
      @include round-button(white,$red);
      transform: rotate(45deg);
      @include plus(9px, white,$red);
    }
  }
}
//////////////////////////////////////////
/////////  TABLET
//////////////////////////////////////////
@include respond-to(tablet) {
[class*="time-col-"] {
  border-right: 1px solid darken($grey,10%);
}
.time-col-1 {
  width: 50%;
}
.time-col-2 {
  @include time-col(50%);
  &:nth-of-type(2) {
    border: none;
  }
}
.time-col-3 {
  @include time-col(33%);
  &:nth-of-type(3) {
      border: none;
  }
}
.time-col-4,.time-col-5,.time-col-6,.time-col-7,.time-col-8   {
  @include time-col(50%);
  &:nth-of-type(2),&:nth-of-type(4),&:nth-of-type(6) {
    border: none;
  };
}
}
//////////////////////////////////////////
/////////  DESKTOP
//////////////////////////////////////////
@include respond-to(desktop) {
[class*="time-col-"] {
  border-right: 1px solid darken($grey,10%);

}
.time-col-1 {
  width: 100%;
}
.time-col-2 {
  @include time-col(50%);
}

.time-col-3 {
  @include time-col(33%);
}
.time-col-4 {
  @include time-col(25%);
}
.time-col-5 {
  @include time-col(20%);
}
.time-col-6  {
  @include time-col(33%);
  &:nth-of-type(3) {
    border: none;
  };
}
.time-col-7, .time-col-8  {
  @include time-col(25%);
  &:nth-of-type(4) {
    border: none;
  };
}
};
