.machine-checkbox {
  height: 15px;
  width: 15px;
}

.checkbox-container {
  height: 50px;
  *  {
    cursor: pointer;
  }
}
.name-of-booker {
  display: block;
  color: gray;
  font-size: 12px;
  font-style: italic;
  font-family: RobotoLight;
}
.booked-machine-container {
  .line-through {
    text-decoration: line-through;
  }
  .is-booked {
    color: $red;
  }
}
.free-machine-container {
  .is-booked {
    color: $green;
  }
}
/*###########################################
 ############################################
  CHECKBOX
 ############################################
 ############################################*/
 .checkbox {
   width: 14px;
   height: 14px;
   position: relative;
   outline: 0;
   margin-right: 10px;
   z-index: 1;
   &:after {
   cursor: pointer;
   position: absolute;
   z-index: 2;
   content: "";
   height: 14px;
   width: 14px;
   background-color: white;
   border: 1px solid lighten(gray,20%);
   font-family: Flaticon;
   font-size: 20px;
   text-align: center;
   line-height: 12px;
   color: $green;
   }
 }
 .checkbox:checked {
   &:after {
   background-color: lighten(gray,50%);
   content: "\f10a";
   }
 }
 .checkbox:disabled {
   &:after {
   content: "\f10a";
   color: gray;
   }
 }
